@charset "UTF-8";
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: 400ms;
}

.show {
  filter: blur(0);
  opacity: 1;
}

#moonffee_coffee_categories div.hidden,
#moonffee_coffee_filler h1.hidden,
#moonffee_coffee_filler h4.hidden,
#moonffee_coffee_filler div.hidden,
#moonffee_shop_info div.hidden,
.user-welcome-title.hidden,
.hero-box.hidden {
  transform: translateX(-10%);
}

#moonffee_coffee_categories div:nth-child(2).hidden,
#moonffee_coffee_categories div:nth-child(4).hidden,
#moonffee_storing_about h1.hidden,
#moonffee_storing_about p.hidden,
#moonffee_storing_about img.hidden {
  transform: translateX(10%);
}

#moonffee_coffee_categories div.show,
#moonffee_coffee_categories div:nth-child(2).show,
#moonffee_coffee_categories div:nth-child(4).show,
#moonffee_coffee_filler h1.show,
#moonffee_coffee_filler h4.show,
#moonffee_coffee_filler div.show,
#moonffee_storing_about h1.show,
#moonffee_storing_about p.show,
#moonffee_storing_about img.show,
#moonffee_shop_info div.show,
.user-welcome-title.show,
.hero-box.show {
  transform: translateX(0);
}

.navbar.hidden,
.hero-box.hidden {
  transform: translateY(-10%);
}

#moonffee_coffee_types div.col.hidden,
#moonffee_short_about h1.hidden,
#moonffee_short_about p.hidden,
#moonffee_short_about a.hidden,
#moonffee_coffee_types h1.hidden,
#moonffee_coffee_types h4.hidden,
#moonffee_story_about div.col.hidden,
#moonffee_coffee_gallery div.col.hidden,
.footer-links.hidden,
.profile-page-container.hidden,
.copyright.hidden .footer-logo.hidden {
  transform: translateY(10%);
}

#moonffee_short_about h1.show,
#moonffee_short_about p.show,
#moonffee_short_about a.show,
#moonffee_coffee_types h1.show,
#moonffee_coffee_types h4.show,
#moonffee_coffee_types div.col.show,
#moonffee_story_about div.col.show,
#moonffee_coffee_gallery div.col.hidden,
.footer-links.show,
.profile-page-container.show,
.copyright.show,
.profile-page-container.show,
.navbar.show,
.hero-box.show .footer-logo.show {
  transform: translateY(0);
}

#moonffee_story_about div:nth-child(2).col.hidden {
  transition-delay: 100ms;
}

#moonffee_story_about div:nth-child(2).col.hidden,
#moonffee_coffee_types div:nth-child(2).col.hidden,
#moonffee_coffee_types div:nth-child(5).col.hidden,
#moonffee_coffee_gallery div:nth-child(2).col.hidden,
.hero-box.hidden {
  transition-delay: 200ms;
}

#moonffee_coffee_types div:nth-child(3).col.hidden,
#moonffee_coffee_types div:nth-child(6).col.hidden,
#moonffee_coffee_gallery div:nth-child(3).col.hidden {
  transition-delay: 400ms;
}

#moonffee_coffee_gallery div:nth-child(4).col.hidden {
  transition-delay: 600ms;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 1rem;
  background-image: linear-gradient(#f8dfc5, #ecc6a0);
}

#moonffee-logo,
.moonffee-font {
  font-family: "Courgette", sans-serif;
}

#header {
  font-size: 1.1em;
  border-bottom: 1px solid rgba(41, 43, 44, 0.4);
}
#header .border_hover {
  --border-color: #292b2c;
  --border-width: 1px;
  --bottom-distance: 0px;
  color: #292b2c;
  display: inline-block;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-repeat: no-repeat;
  transition: background-size 0.3s;
  margin: 5px 0;
  background-position: 50% calc(100% - var(--bottom-distance));
}
#header .border_hover:hover {
  background-size: 100% var(--border-width);
}

#footer {
  border-top: 1px solid rgba(41, 43, 44, 0.4);
}

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(rgb(248, 223, 197), rgba(0, 0, 0, 0.6)), url(../assets/hero.webp) center top no-repeat;
}

.hero-box {
  border: 4px solid #f8dfc5;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff7ef;
  padding: 4em;
  border-radius: 1em;
  margin: 15em;
}
@media (max-width: 1024px) {
  .hero-box {
    margin: 0 0;
  }
}

#moonffee_short_about {
  padding: 0 28em;
}
@media (max-width: 1024px) {
  #moonffee_short_about {
    padding: 0 0;
  }
}

#moonffee_coffee_categories,
#moonffee_coffee_filler {
  background-image: url("../assets/categories_background.webp");
  background-position: center;
  background-size: cover;
}

#moonffee_coffee_filler {
  background-image: url("../assets/filler_background.webp");
  height: 90vh;
  background-repeat: no-repeat;
}

#moonffee_coffee_types {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  background-color: #ecc6a0;
}

#moonffee_story_about img,
#moonffee_storing_about img,
.hero-box,
.moonffee_shop_items {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.moonffee_shop_items {
  border: 1px solid rgba(248, 223, 197, 0.4);
}
.moonffee_shop_items img {
  max-width: 6em;
}

#moonffee_story_about img {
  border-radius: 1em;
  border: 5px solid #fff7ef;
}

#moonffee_coffee_gallery {
  overflow: hidden;
}
#moonffee_coffee_gallery img {
  max-height: 320px;
}

#moonffee_storing_about img {
  border-radius: 1em;
  border: 5px solid #fff7ef;
  max-width: 800px;
}
@media (max-width: 768px) {
  #moonffee_storing_about img {
    max-width: 100%;
  }
}

#moonffee_shop_info {
  background-image: url("../assets/coffee_beans_dark_background.webp");
  height: 45vh;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  #moonffee_shop_info {
    height: 100%;
  }
}

#moonffee_shop_info .moonffee-services {
  background-color: #c58e7f;
  border-radius: 1em;
}
#moonffee_shop_info .moonffee-services ul {
  list-style: none;
  padding: 0;
}
#moonffee_shop_info .moonffee-services ul li:before {
  content: "✓";
}
#moonffee_shop_info .moonffee-services li:nth-child(2n) {
  margin: 1em 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 16px !important;
}
.card .card-body {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

#new_user_notification,
#user_code_verification,
#moonffee_story_about,
#moonffee_storing_about,
#moonffee_short_about {
  background-color: #f8dfc5;
}

.user-input-card,
.map-outer-text-info {
  background-color: #fff7ef;
}

#new_user_notification,
#user_code_verification,
.user-input-card {
  max-width: 25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(41, 43, 44, 0.4);
  border-radius: 1em;
  padding: 2em;
}

#new_user_notification,
#user_code_verification {
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1em !important;
}

#user_sign_in_page,
#user_login_page,
#user_profile,
#errAccessDenied,
#user_email_verification_page,
#user_forgot_password_page,
#user_reset_password_page,
#moonffee_contact_info {
  height: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#user_sign_in_page,
#user_login_page,
#errAccessDenied,
#user_forgot_password_page,
#user_reset_password_page {
  background-image: url("../assets/background_2.webp");
}

#user_profile,
#user_email_verification_page {
  background-image: url("../assets/background_3.webp");
}

#moonffee_contact_info {
  background-image: url("../assets/background_1.webp");
}

#moonffee_coffee_categories,
#moonffee_coffee_filler,
#moonffee_shop_info {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

#password-toggle-icon {
  cursor: pointer;
  min-width: 48px;
}

.btn.resend-btn {
  padding: 0;
  margin: 0;
  margin-top: -2px;
  display: inline-block;
  text-decoration: underline;
  font-size: 1em;
}

#user_profile .card {
  max-width: 22em;
}

#user_profile .card,
.list-group-item,
.user-welcome-title,
.card-body {
  background-color: #fff7ef;
}

.user-welcome-title,
.user-update-notification,
.user-update-notification-image {
  border: 2px solid #292b2c;
  border-radius: 50px;
  max-width: 800px;
}

.user-update-notification {
  max-width: 500px;
}

.user-update-notification-image {
  border-radius: 0;
  border: 1px solid rgba(41, 43, 44, 0.4);
}

#user-card.card {
  text-align: center;
}
@media (min-width: 426px) {
  #user-card.card {
    text-align: left;
  }
}
#user-card.card li {
  background-color: #fff7ef;
}

#profile-deleted.card textarea {
  min-height: 7em;
}
@media (min-width: 426px) {
  #profile-deleted.card {
    width: 28em;
  }
}

.user-container,
.user-avatar {
  width: 100%;
  height: auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.user-container,
.moonffee_shop_items {
  background-color: rgba(41, 43, 44, 0.4);
}

.user-container {
  position: relative;
}

.user-avatar {
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.nav-user-avatar {
  max-width: 2em;
  border-radius: 50%;
  margin: 0 0.15em 0.15em 0;
}
@media (max-width: 768px) {
  .nav-user-avatar {
    margin: 0 0.5em 0.4em 0;
  }
}

.user-avatar-buttons {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-container:hover .user-avatar {
  opacity: 0.2;
}

.user-container:hover .user-avatar-buttons,
.user-avatar {
  opacity: 1;
}

.input-group-text {
  min-width: 2.5em;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

.profile-navbar-link.active {
  background-color: #0d6efd !important;
}

.profile-navbar-link,
.profile-navbar-link:hover {
  transition: 0.2s ease;
}

.profile-navbar-link:hover {
  background-color: #3a89ff !important;
  color: #fff !important;
}

.map_layout {
  border: 1px solid #292b2c;
  border-radius: 15px;
}

.map-outer,
.gmap-canvas {
  width: 100%;
  height: 400px;
}

.map-outer {
  position: relative;
  text-align: right;
}

.gmap-canvas {
  overflow: hidden;
  background: none !important;
  min-width: 35em;
}
@media (max-width: 1024px) {
  .gmap-canvas {
    min-width: 100%;
  }
}

.gmap-iframe {
  height: 400px !important;
  border-top-left-radius: 1em;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
}
@media (max-width: 768px) {
  .gmap-iframe {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.map-outer-text-info {
  border-bottom-left-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  min-width: 22em;
}
@media (max-width: 768px) {
  .map-outer-text-info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }
}

/*# sourceMappingURL=output.css.map */
