.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: 400ms;
}

.show {
  filter: blur(0);
  opacity: 1;
}

#moonffee_coffee_categories div.hidden,
#moonffee_coffee_filler h1.hidden,
#moonffee_coffee_filler h4.hidden,
#moonffee_coffee_filler div.hidden,
#moonffee_shop_info div.hidden,
#moonffee_shop_coffee_background h1.hidden,
#moonffee_shop_coffee_background h4.hidden,
#moonffee_shop_pastries_background h1.hidden,
#moonffee_shop_pastries_background h4.hidden,
#moonffee_shop_cookies_background h1.hidden,
#moonffee_shop_cookies_background h4.hidden,
.user-welcome-title.hidden,
.hero-box.hidden {
  transform: translateX(-10%);
}

#moonffee_coffee_categories div:nth-child(2).hidden,
#moonffee_coffee_categories div:nth-child(4).hidden,
#moonffee_storing_about h1.hidden,
#moonffee_storing_about p.hidden,
#moonffee_storing_about img.hidden,
#moonffee_shop_bread_background h1.hidden,
#moonffee_shop_bread_background h4.hidden,
#moonffee_shop_cakes_background h1.hidden,
#moonffee_shop_cakes_background h4.hidden {
  transform: translateX(10%);
}

#moonffee_coffee_categories div.show,
#moonffee_coffee_categories div:nth-child(2).show,
#moonffee_coffee_categories div:nth-child(4).show,
#moonffee_coffee_filler h1.show,
#moonffee_coffee_filler h4.show,
#moonffee_coffee_filler div.show,
#moonffee_storing_about h1.show,
#moonffee_storing_about p.show,
#moonffee_storing_about img.show,
#moonffee_shop_info div.show,
#moonffee_shop_coffee_background h1.show,
#moonffee_shop_coffee_background h4.show,
#moonffee_shop_bread_background h1.show,
#moonffee_shop_bread_background h4.show,
#moonffee_shop_cakes_background h1.show,
#moonffee_shop_cakes_background h4.show,
#moonffee_shop_pastries_background h1.show,
#moonffee_shop_pastries_background h4.show,
#moonffee_shop_cookies_background h1.show,
#moonffee_shop_cookies_background h4.show,
.user-welcome-title.show,
.hero-box.show {
  transform: translateX(0);
}

.navbar.hidden,
.hero-box.hidden {
  transform: translateY(-10%);
}

#moonffee_coffee_types div.col.hidden,
#moonffee_short_about h1.hidden,
#moonffee_short_about p.hidden,
#moonffee_short_about a.hidden,
#moonffee_coffee_types h1.hidden,
#moonffee_coffee_types h4.hidden,
#moonffee_story_about div.col.hidden,
#moonffee_coffee_gallery div.col.hidden,
#moonffee_shop_hero h4.hidden,
#shop_item_categories div.col.hidden,
#moonffee_shop_coffee div.col.hidden,
#moonffee_shop_bread div.col.hidden,
#moonffee_shop_pastries div.col.hidden,
#moonffee_shop_cakes div.col.hidden,
#moonffee_shop_cookies
 div.col.hidden,
.footer-links.hidden,
.profile-page-container.hidden,
.copyright.hidden .footer-logo.hidden {
  transform: translateY(10%);
}

#moonffee_short_about h1.show,
#moonffee_short_about p.show,
#moonffee_short_about a.show,
#moonffee_coffee_types h1.show,
#moonffee_coffee_types h4.show,
#moonffee_coffee_types div.col.show,
#moonffee_story_about div.col.show,
#moonffee_coffee_gallery div.col.hidden,
#moonffee_shop_hero h4.show,
#shop_item_categories div.col.show,
#moonffee_shop_coffee div.col.show,
#moonffee_shop_bread div.col.show,
#moonffee_shop_pastries div.col.show,
#moonffee_shop_cakes div.col.show,
#moonffee_shop_cookies div.col.show,
.footer-links.show,
.profile-page-container.show,
.copyright.show,
.profile-page-container.show,
.navbar.show,
.hero-box.show .footer-logo.show {
  transform: translateY(0);
}

#moonffee_story_about div:nth-child(2).col.hidden {
  transition-delay: 100ms;
}

#moonffee_story_about div:nth-child(2).col.hidden,
#moonffee_coffee_types div:nth-child(2).col.hidden,
#moonffee_coffee_types div:nth-child(5).col.hidden,
#moonffee_coffee_gallery div:nth-child(2).col.hidden,
#shop_item_categories div:nth-child(2).col.hidden,
#moonffee_shop_coffee div:nth-child(2n).col.hidden,
#moonffee_shop_bread div:nth-child(2).col.hidden,
#moonffee_shop_pastries div:nth-child(2n).col.hidden,
#moonffee_shop_cakes div:nth-child(2).col.hidden,
#moonffee_shop_cookies div:nth-child(2).col.hidden,
.hero-box.hidden {
  transition-delay: 200ms;
}

#moonffee_coffee_types div:nth-child(3).col.hidden,
#moonffee_coffee_types div:nth-child(6).col.hidden,
#moonffee_coffee_gallery div:nth-child(3).col.hidden,
#shop_item_categories div:nth-child(3).col.hidden,
#moonffee_shop_coffee div:nth-child(3n).col.hidden,
#moonffee_shop_bread div:nth-child(3).col.hidden,
#moonffee_shop_pastries div:nth-child(3n).col.hidden,
#moonffee_shop_cakes div:nth-child(3).col.hidden,
#moonffee_shop_cookies div:nth-child(3).col.hidden   {
  transition-delay: 400ms;
}

#moonffee_coffee_gallery div:nth-child(4).col.hidden,
#shop_item_categories div:nth-child(4).col.hidden,
#moonffee_shop_bread div:nth-child(4).col.hidden,
#moonffee_shop_cakes div:nth-child(4).col.hidden {
  transition-delay: 600ms;
}

// #moonffee_short_about h1.hidden,
// #moonffee_short_about p.hidden,
// #moonffee_short_about a.hidden,
// #moonffee_coffee_categories div.hidden,
// #moonffee_coffee_types h1.hidden,
// #moonffee_coffee_types h4.hidden,
// #moonffee_coffee_types div.col.hidden,
// #moonffee_coffee_filler h1.hidden,
// #moonffee_coffee_filler h4.hidden,
// #moonffee_coffee_filler div.hidden,
// #moonffee_story_about div.col.hidden,
// #moonffee_coffee_gallery div.col.hidden,
// #moonffee_storing_about h1.hidden,
// #moonffee_storing_about p.hidden,
// #moonffee_storing_about img.hidden,
// #moonffee_shop_info div.hidden,
// .footer-links.hidden .copyright.hidden {
//   transition: 800ms;
// }
