$charleston: #292b2c;
$charleston-fade: rgba(41, 43, 44, 0.4);
$bdazzled-blue: #2d5a88;
$brandeis-blue: #0d6efd;
$brandeis-blue-hover: #3a89ff;
$desert-sand: #ecc6a0;
$bisque-fade: rgba(248, 223, 197, 0.4);
$bisque: #f8dfc5;
$seashell: #fff7ef;
$pale-taupe: #c58e7f;
